<%= form_with(model: @meeting, local: true, url: {controller: :meetings, action: :create}) do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :room_id, class: 'col-sm-4 col-form-label' %>
      <div class="col-sm-8">
        <%= f.select :room_id, Room.all.collect {|r| [ r.title, r.id ] }, { prompt: 'Select a Room' }, { style: 'width: 100%', class: 'form-control', required: true } %>
      </div>
    </div>

    <div class="col-md-6">
      <%= f.label :title, class: 'col-sm-4 col-form-label' %>
      <div class="col-sm-8">
        <%= f.text_field :title, class: 'form-control', placeholder: 'title...', required: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= label_tag :date_start, "Date start", class: 'col-sm-4 col-form-label' %>
      <div class="col-sm-8">
        <%= date_select :date_start, "", {}, { class: 'form-control', style: 'width: auto; display: inline' } %>
      </div>
    </div>
    <div class="col-md-6">
      <%= label_tag :date_end, "Date end", class: 'col-sm-4 col-form-label' %>
      <div class="col-sm-8">
        <%= date_select :date_end, "", {}, { class: 'form-control', style: 'width: auto; display: inline' } %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :scheduled_at, class: 'col-sm-4 col-form-label' %>
      <div class="col-sm-8">
        <%= f.time_select :scheduled_at, { start_hour: 8, end_hour: 17, use_month_numbers: true }, { class: 'form-control d-inline', style: 'width: auto' } %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="actions">
        <%= f.submit "Save", class: "btn btn-primary btn-save-meeting" %>
      </div>
    </div>
  </div>
<% end %>
