<div class="row">
  <div class="col-md-12 actions text-center">
    <div class="card mb-2 bg-light">
      <div class="card-body">
        <h4 class="card-title text-muted">Sign up</h4>
        <div class="card-text lead">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "my-4"}) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="row mb-1">
              <div class="col-md-6">
                <div class="row">
                  <%= f.label :email, class: 'col-sm-6 col-form-label text-left' %>
                  <div class="col-sm-6">
                    <%= f.text_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <%= f.label :password, class: 'col-sm-6 col-form-label text-left' %>
                  <div class="col-sm-6">
                    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <%= f.label :password_confirmation, class: 'col-sm-6 col-form-label text-left' %>
                  <div class="col-sm-6">
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
                  </div>
                </div>
              </div>
            </div>

            <div class="btn-group mt-2" role="group" aria-label="User Actions">
              <%= f.submit "Sign up", class: "btn btn-primary" %>
              <%= render "devise/shared/links" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
